version: '3.8'

services:
  {{ app_name }}:
    image: {{ docker_image }}:{{ docker_tag }}
    container_name: {{ app_name }}
    ports:
      - "{{ app_port }}:{{ app_internal_port }}"
    environment:
      - PORT={{ app_internal_port }}
    restart: {{ restart_policy }}
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
