version: '3.8'

services:
  {{ web_app_name }}:
    image: {{ web_app_docker_image }}:{{ web_app_docker_tag }}
    container_name: {{ web_app_name }}
    ports:
      - "{{ web_app_port }}:{{ web_app_internal_port }}"
    environment:
      - PORT={{ web_app_internal_port }}
    restart: {{ web_app_restart_policy }}
    networks:
      - app_network

networks:
  app_network:
    driver: bridge