# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo
*.so
venv/
.venv/
env/
.idea/
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# Environment variables
.env
.env.local
