---
- name: Install prerequisites for Docker apt repo
  ansible.builtin.apt:
    name: "{{ docker_packages }}"
    state: present
    update_cache: yes

- name: Add Docker official GPG key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present

- name: Install Docker packages
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present
    update_cache: yes
  notify: restart docker

- name: Ensure docker service enabled and started
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ docker_user_to_add }}"
    groups: docker
    append: yes

- name: Ensure python3-docker package is installed for Ansible Docker modules
  ansible.builtin.apt:
    name: python3-docker
    state: present
